.end-game-image {
	vertical-align: middle;
	margin: 5% 10%;
	width: 80%;
}

.custom-details {
	color: var(--primary);
}

.share-link-icon{
	cursor: pointer;
}

.row {
	display: flex;
	column-gap: 10px;
}
  
.column {
	flex: 50%;
	padding-inline: 10px;
}
