.main-title {
	margin: 15px;
	text-decoration: none;
}

.action-container {
	margin-top: 1.5rem;
}

.game {
	display: grid;
}

.timer {
	color: #5b8588;
}
.btn-pause-play {
	cursor: pointer;
}
.btn-pause-play:hover {
	color: #72a8ac;
}
