.main-title {
	margin: 0px 0px 0px 0px;
	text-decoration: none;
	color: var(--font-color);
}

.action-container {
	margin-top: 1.5rem;
}

.game {
	display: grid;
	color: var(--primary);
}

.btn-pause-play {
	cursor: pointer;
	outline: none;
}

@media (hover: hover) and (pointer: fine) {
	.btn-pause-play:hover,
	.lang-menu-label:hover {
		opacity: 0.75;
	}
}

.top-bar {
	display: flex;
	align-items: center;
	margin: 8px;
}
