.main-title {
	margin: 0px 0px 0px 0px;
	text-decoration: none;
	color: black;
}

.action-container {
	margin-top: 1.5rem;
}

.game {
	display: grid;
	color: #5b8588;
}

.btn-pause-play {
	cursor: pointer;
	outline: none;
}

@media (hover: hover) and (pointer: fine) {
	.btn-pause-play:hover,
	.lang-menu-label:hover {
		opacity: 0.75;
	}
}

.lang-menu-label {
	justify-self: end;
	margin: 1vh;
}

.lang-menu-select {
	border: none;
	background: white;
	color: #5b8588;
	outline: none;
	cursor: pointer;
}
