:root {
	--font-color: #333;
	--background-color: #eee;
	--primary: #5b8588;
	--focus-color: #e1f7f8;
	--invalid-color: #f7aeae;
	--grey-color: rgb(109, 108, 108);
	--yellow: #fab54d;
	--redish-orange: #ff8271;
	--blue: #64bcf7;
	--success: #75fa83;
	--white: #fdfdfd;
	--light: #8cb6b8;
	--medium: #4a6d6e;
	--dark: #385253;
	--purple: rgb(155, 139, 161);
	--slider-background: #ccc;
	--light-grey-color: #d3d3d3;
}

[data-theme='dark'] {
	--font-color: rgb(219, 215, 215);
	--background-color: #242727;
	--primary: #5e7b7d;
	--focus-color: #283b3b;
	--invalid-color: #522f2f;
	--grey-color: #5f797a;
	--yellow: #b9873a;
	--redish-orange: #b45e53;
	--blue: #427ea7;
	--success: #75fa83;
	--white: rgb(219, 215, 215);
	--light: #748d8f;
	--medium: #446364;
	--dark: #385253;
	--purple: rgb(98, 88, 102);
	--slider-background: #ccc;
	--light-grey-color: #adadad;
}

body {
	background-color: var(--background-color);
	color: var(--font-color);
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: var(--primary);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
