:root {
	--font-color: #333;
	--background-color: #eee;
	--primary: #5b8588;
	--focus-color: #e1f7f8;
	--invalid-color: #f7aeae;
	--grey-color: #6d6c6c;
	--yellow: #e59825;
	--blue: #3578b2;
	--redish-orange: #ff8271;
	--purple: #897390;
	--success: #75fa83;
	--white: #fdfdfd;
	--white: #ffffff;
	--light: #8cb6b8;
	--medium: #4a6d6e;
	--dark: #385253;
	--slider-background: #ccc;
	--light-grey-color: #d3d3d3;
	--lang-color: #3f6467;
}

[data-theme='dark'] {
	--font-color: #dbd7d7;
	--background-color: #242727;
	--primary: #5e7b7d;
	--focus-color: #283b3b;
	--invalid-color: #522f2f;
	--grey-color: #5f797a;
	--yellow: #6f4f20;
	--redish-orange: #91473e;
	--blue: #2f6080;
	--success: #75fa83;
	--white: #dbd7d7;
	--light: #7b9294;
	--medium: #446364;
	--dark: #385253;
	--purple: #514855;
	--slider-background: #ccc;
	--light-grey-color: #adadad;
	--lang-color: #95abad;
}

body {
	background-color: var(--background-color);
	color: var(--font-color);
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: var(--primary);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
